<!doctype html>
<html lang="en">
<body>
<div class="container-fluid">
  <div class="col-5 login-card">
    <div class="row">
      <div class="col-md-5 detail-part">
        <h1>Awesome Login Page Design</h1>
        <p>Please use your credentials to login.
          If you are not a member, please register. </p>
      </div>
      <div class="col-md-7 login-part">
        <div class="row">
          <div class="col-lg-10 col-md-12 mx-auto">
            <div class="logo-cover">
              <img src="../../../assets/img/AdminLTELogo.png" alt="">
            </div>
            <form class="form-cover">
              <h6>Login Form</h6>
              <div class="form-group">
                <input placeholder="Enter Username" type="text" class="form-control" [(ngModel)]="this.user.userName" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group">
                <input Placeholder="Enter Password" type="password" class="form-control" [(ngModel)]="this.user.password" [ngModelOptions]="{ standalone: true }">
              </div>
              <button type="submit" class="btn btn-primary col-12 button-div m-auto" (click)="this.onLogin()">Login</button>
              <select>
                <optgroup label="Northern America">
                  <option value="newyork">New York</option>
                  <option value="seattle">Seattle</option>
                </optgroup>
                <optgroup label="Asia">
                  <option value="hongkong">Hong Kong</option>
                </optgroup>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
