<div class="container-fluid">
  <!-- Header -->
  <nav class="navbar navbar-expand-lg">
    <h3 class="navbar-brand">Roles Management</h3>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto">
      </div>
      <form class="form-inline">
        <button class="btn btn-primary" type="submit" (click)="search()">Search</button>
        <button class="btn btn-info ml-2" type="submit" (click)="create()">Add Role</button>
      </form>
    </div>
  </nav>

  <!-- Search -->
  <div class="row mb-4">
    <div class="col-4">
      <label>Search:</label>
      <div class="form-outline">
        <input type="search" class="form-control" placeholder="key word" aria-label="Search" [(ngModel)]="keyword"/>
      </div>
    </div>
    <div class="col-2">
      <label>Status:</label>
      <select class="form-control" id="status" name="status" [(ngModel)]="status">
        <option value=-1>Select one</option>
        <option value=1>Active</option>
        <option value=2>InActive</option>
        <option value=0>Deleted</option>
      </select>
    </div>
  </div>

  <!-- Body -->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" class="table-row">
      <td>{{i + 1}}</td>
      <td>{{user.fullName}}</td>
      <td>{{user.fullName}}</td>
      <td [innerHtml]="getStatus()"></td>
      <td class="text-right">
        <button class="btn" (click)="edit()">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn ml-2" (click)="delete()">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="form-inline float-right mr-20">
    <app-pagination (pageChange)="onPageChange()" [(ngModel)]="pageIndex" [pageSize]="pageSize"
                    [totalRow]="totalRow" [isLoading]="isLoading"></app-pagination>
  </div>
</div>
